.item {
    display: none;
}

.item_disabled {
    display: block;
    animation: 0.7s margin-out;
    margin-left: -100px;
}
.item_active {
    display: block;
    animation: 0.7s margin-in;
    margin-left: 100px;
}

@keyframes margin-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes margin-out {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(200%);
    }
}